<form (ngSubmit)="submit()">
  <div class="mb-3">
    <label for="id" class="form-label">Edit Id</label>
    <input type="number" class="form-control" id="id" aria-describedby="emailHelp" name="id" [(ngModel)]="student.id">
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Edit Name</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="student.name">
  </div>
  <div class="mb-3">
    <label for="age" class="form-label">Edit Age</label>
    <input type="text" class="form-control" id="age" name="age" [(ngModel)]="student.age">
  </div>
  <div class="mb-3">
    <label for="country" class="form-label">Edit Country</label>
    <input type="text" class="form-control" id="country" name="country" [(ngModel)]="student.country">
  </div>
  <button type="submit" class="btn btn-primary">Edit</button>
</form>
